@page "/sendcommand/{MachineId}"


<div class="form-group row">
    <EditForm Model="@IndustrialMachinepark" OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">
        <div class="row">
            <div class="col-sm-12">
                Data: <InputText  type="text" @bind-Value="@IndustrialMachinepark.Data" placeholder="Skriv data kommando"></InputText>
                      @*<InputText type="hidden" @bind-Value="@IndustrialMachinepark.MachineId"></InputText>*@
            </div>
        </div>
        <button type="submit" @onclick="OnSendData" class="btn btn-primary edit-btn">Spara kommando</button>
    </EditForm>
</div>



@code {
    [Parameter]
    public string MachineId { get; set; }
    public IndustrialMachinepark IndustrialMachinepark { get; set; } = new IndustrialMachinepark();

    [Inject]
    public IIndustrialMachineParkService IndustrialMachineParkSevice { get; set; }

    protected string Message = string.Empty;
    protected string StatusClass = string.Empty;
    protected bool Saved;

    public EventCallback<string> SendData { get; set; }
    public string Text { get; set; }

    protected void HandleInvalidSubmit()
    {
        StatusClass = "alert-danger";
        Message = "There are some validation errors. Please try again.";
    }

    protected async Task HandleValidSubmit()
    {
        Saved = false;
        IndustrialMachinepark.MachineId = MachineId;

        await IndustrialMachineParkSevice.UpdateMachine(IndustrialMachinepark);
        StatusClass = "alert-success";
        Message = "Maskinens data updaterades.";
        Saved = true;
    }

    public async Task OnSendData()
    {
        if (SendData.HasDelegate)
        {
            await SendData.InvokeAsync(Text);
        }
    }

}
